@import "../../../css/mixin";

// 全屏结果页
.full-result {
  z-index: $z-index-full-result;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: $padding-vertical $padding-horizontal;
  @include flex(column);
  background: $color-white;

  .r-top {
    width: 100%;
    @include flex(column, start);
    @include flex-grow(1);
    padding: 60px 20px 20px;
    overflow-y: scroll;

    .ic-result {
      width: 80px;
      height: 80px;
      @include flex-shrink(0);
      background-size: 80px 80px;

      &.suc {
        background-image: url('../../../assets/img/ic_suc.png');
      }

      &.fail {
        background-image: url('../../../assets/img/ic_fail.png');
      }
    }

    .r-title {
      @include flex-shrink(0);
      font-size: $font-size-large;
      font-weight: bold;
      color: $font-color-dark;
      text-align: center;
      display: block;
      margin-top: 20px;
    }

    .r-msg {
      @include flex-shrink(0);
      line-height: 1.3;
      margin-top: 20px;
      font-size: $font-size-base;
      color: $font-color-normal;
    }
  }

  .r-bottom {
    width: 100%;
    @include flex(column);
    @include flex-shrink(0);
    padding: $padding-vertical 0;

    .welcome {
      font-size: $font-size-base;
      color: $font-color-normal;
    }

    .btn {
      margin: 10px 0;
      width: 60%;
    }

    .time {
      margin-top: 4px;
      font-size: $font-size-small;
      color: $font-color-sub;
    }
  }
}